# Xcode
*.xcuserdata
*.xcworkspace
xcuserdata/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
build/
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
*.moved-aside

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# macOS
.DS_Store
*.swp
*.orig

# Build products
*.app
*.ipa
*.dSYM.zip
*.dSYM
*.dmg

# IDE
.idea/
.vscode/